<html>
    <head>
        <title>Message HTML Title</title>
    </head>
<body>
    <div>
    <div>
        <h3>Dear, {{name}}! Thank you for register at ProjectsLab!</h3>
    </div>
        <p><b>We are glad to see on our platform! If you have some questions please write to our Support!</b></p>
    </div>
</body>
</html>