.card-title {
    font-weight: bold;
    font-size: 18px;
    color: #515651;
}

.error-block {
    background: #ff144f;
    color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.success-block {
    background: #399911;
    color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}